.gradient1 {
    background: #df6551;  /* fallback for old browsers */
    /* background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);  
    background: linear-gradient(to right, #FF4B2B, #FF416C);  */
    box-shadow: 0 1px 50px rgba(0, 0, 0, 0.2) !important;
}

.gradient2{
    background: #eca557;  /* fallback for old browsers */
/* background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);  
background: linear-gradient(to right, #0083B0, #00B4DB);  */

    box-shadow: 0 1px 50px rgba(0, 0, 0, 0.2) !important;
}

.credit-card{
    width: 400px;
    padding: 2em;
    color: white !important;
    border-radius: 10px;
}

.credit-card-field{
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 9pt;
}

.credit-card-value{
    margin-bottom: 10px !important;
    font-weight: 600;
}
